/build/
/modules/core/build/
/nbproject/private/
/modules/core/nbproject/private/
/modules/database/build/
/modules/database/nbproject/private/
/modules/database_h2/build/
/modules/database_h2/nbproject/private/
/modules/albumbrowser/build/
/modules/albumbrowser/nbproject/private/